<app-header titulo="Reportes" subtitulo="Información sobre los distintos juegos realizados" colorFondo="dark">
</app-header>

  <div class="container-fluid mesa text-light p-3">
    <div class="row">
      <div class="col-md-6 col-sm-12 p-5">
        <h1 class="display-6">
          Indices de resultados:
        </h1>
        <div class="bg-light rounded mb-3">
          <canvas baseChart type="bar" [data]="datosIndiceResultados"></canvas>
        </div>
        <h1 class="display-6">
          10 usuarios con mas victorias:
        </h1>
        <div class="bg-light rounded mb-3">
          <canvas baseChart type="bar" [data]="datosVictoriasUsuario"></canvas>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 p-5">
        <h1 class="display-6">
          Promedio de jugadas con puntaje 21:
        </h1>
        <div class="bg-light rounded mb-3">
          <canvas baseChart type="bar" [data]="datosPromedioVeintiuno"></canvas>
        </div>
        <h1 class="display-6">
          Cantidad de juegos y jugadores por día:
        </h1>
        <div class="bg-light rounded mb-3">
          <canvas baseChart type="line" [data]="datosCantidadJuegosJugadores"></canvas>
        </div>
      </div>
    </div>
  </div>
